/* Default */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/* Page Body */
body {
  background-color: #3498db;
}

/* ZotFlow Header */
#header {
  position: fixed;
  margin: 0 auto;
  width: 100%;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: "Rock Salt", serif;
  background-color: rgba(41, 128, 185,1.0);
  z-index: 2;
}

/* Dropdown */
.dropdown {
  position: absolute;
  margin: 0 auto;
  top: 9.75%;
  width: auto;
  max-width: 50%;
  left: 10%;
  right: 10%;
  z-index: 1;
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
	background-color: rgba(41, 128, 185,1.0);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  max-width: 60%;
  border-top: 1px solid white;
	z-index: 1;
}

/* Button Color on Hover */
.dropbtn:hover, .dropbtn:focus {
	background-color: #175782;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin: 0 auto;
	display: none;
	position: relative;
	background-color: #f9f9f9;
	min-width: 275px;
  max-width: 50%;
}

/* Dropdown Links */
.dropdown-content a {
	font-family: sans-serif, arial;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 15px;
	border-bottom: 1px solid #d9d9d9;
}

.dropdown-content a:hover {
	background-color: #1b6698;
	color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/*
note: need to fix display on hover
.dropdown:hover .dropdown-content {
  display: block;
}
*/

.show {
	display: block;
}

#info {
	position: relative;
  margin: 0 auto;
  width: 70%;
  top: 20%;
  padding: 10px;
	color: white;
	font-family: Arial, Georgia, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	border-style: dotted;
}

#cy {
  position: relative;
  margin: 0 auto;
  top: 17%;
  max-width: 95%;
  min-height: 510px;
  border: none;
}
